<template lang="html">
  <div
    :class="matchedClassName ()"
    class="on">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'On',
  methods: {
    matchedClassName () {
      return this.$router.history.current.fullPath.match(/^\/on\/match\/((?:[^\/]+?))(?:\/(?=$))?$/i) && 'matched' || ''
    }
  }
}
</script>

<style lang="scss" scoped>

@import '~vars';

.on {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.matched /deep/ .running {
  z-index: 99;
}

</style>
