<template lang="html">
  <div class="photo-slider">
    <transition name="fade">
      <bg-image
        key="image"
        :src="image"
        cover />
    </transition>
    <transition name="fade">
      <span
        v-if="text"
        class="text">{{ text }}</span>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'PhotoSlider',
  props: {
    images: {
      type: Array,
      required: true
    },
    active: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      activeSlide: 0
    }
  },
  computed: {
    image () {
      let active = this.images[this.active]
      active = (!Array.isArray(active) ? active : active[this.activeSlide])
      active = active.src || active
      return active
    },
    text () {
      let active = this.images[this.active]
      return (!Array.isArray(active) ? active : active[this.activeSlide]).caption || ''
    }
  },
  mounted() {
    const update = () => {
      const active = this.images[this.active]
      this.activeSlide = !Array.isArray(active) ? 0 : (this.activeSlide+1) % this.images[this.active].length
      setTimeout(update,3000)
    }
    update()
  }
}
</script>

<style lang="scss" scoped>

@import '~vars';

.photo-slider {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .bg-image {
    height: 100%;
  }
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $primary;
  z-index: 9;
  width: 100%;
  padding: 20px;
  background: $primary-dark;
}

</style>
