<template lang="html">
  <slider-view />
</template>

<script>

import SliderView from 'Components/routes/slider'

export default {
  name: 'Slider',
  components: {
    SliderView
  }
}
</script>

<style lang="scss" scoped>

</style>
