<template lang="html">
  <main class="page">
    <back-icon @click="go('/')" />
    <div class="images">
      <bg-image
        class="logo-image"
        cover
        :src="activeImage" />
    </div>
    <div
      :style="activeBg"
      class="tours">
      <div
        v-for="(tour, i) in tours"
        :key="tour.name"
        @click="selectTour(i)"
        :class="activeClassName(i)"
        class="tour">
        <div class="text">
          <h1>{{ tour.name }}</h1>
          <div class="description">
            <p>{{ tour.description }}</p>
            <coming-soon>
              <push-button>GO</push-button>
            </coming-soon>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'
import { mapState } from 'vuex'

export default {
  mixins: [FadeInOut],
  data() {
    return {
      activeIndex: 0,
      dirty: false
    }
  },
  computed: {
    ...mapState({
      tours: ({ tours }) => tours.list
    }),
    activeImage() {
      return this.tours[this.activeIndex].image
    },
    activeBg() {
      return {
        background: ['#1071bf','#30bebb','#4953b2','#8f6d9f'][this.activeIndex]
      }
    }
  },
  methods: {
    activeClassName(i) {
      return (this.dirty && i === this.activeIndex) && 'active'
    },
    selectTour(i) {
      this.dirty = i === this.activeIndex ? !this.dirty : true
      this.activeIndex = i
    }
  }
}

</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.page {
  display: block;
  height: 100%;
}

.tours {
  flex-wrap: wrap;
  height: 100%;
  display: flex;
  transition: .5s;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.images {
  float: left;
  width: 50%;
  height: 100%;
  .bg-image {
    width: 100%;
    height: 100%;
  }
}

.tour {
  width: 100%;
  &.active .description {
    height: 12em;
    opacity: 1;
    transition: height cubic-bezier(0, 0.51, 0.24, 1.01) .5s, opacity cubic-bezier(0, 0.51, 0.24, 1.01) .5s;
  }
  .text {
    text-align: center;
    padding: 1rem;
  }
  .description {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: cubic-bezier(0, 0.51, 0.24, 1.01) .5s 0s;
  }
  p {
    padding: 1em 0;
    max-width: 25em;
    margin: 0 auto;
  }
}

</style>
