<template lang="html">
  <main class="running">
    <div
      class="transition-screen"
      ref="pageTransition" />
    <div class="overlay-container">
      <div
        class="eye"
        @click="dummyDetect">
        <i :class="stateClassName" />
      </div>
    </div>
    <router-view />
  </main>
</template>

<script>

import anime from 'animejs'

export default {
  computed: {
    stateClassName () {
      return ['icon-eye', 'icon-tick', 'icon-back'][0]
    }
  },
  mounted () {
    if (typeof Android !== "undefined") {
      Android.disaleCamera()
    }
  },
  mounted () {
    if (typeof Android !== "undefined") {
      Android.enableCamera()
    }
    anime.timeline()
      .add({
        targets: this.$refs.pageTransition,
        translateY: [0,'-100%'],
        easing: 'easeInOutQuad',
        duration: 500
      })
  },
  methods: {
    dummyDetect () {
      window.objectDetected()
    }
  }
}
</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.running {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  .overlay-container {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transition-screen {
    position: fixed;
    background: $primary;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .eye {
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($primary,.5);
    height: 12rem;
    width: 12rem;
    line-height: 0;
    border-radius: 50%;
  }
}

</style>
