<template lang="html">
  <div class="video page">
    <back-icon @click="go(-1)" />
    <youtube
      ref="player"
      class="youtube"
      :video-id="id"
      @ready="ready" />
  </div>
</template>

<script>
import { FadeInOut } from 'Mixins'

export default {
  mixins: [FadeInOut],
  computed: {
    id() {
      return this.$route.params.id
    }
  },
  methods: {
    ready () {
      this.$refs.player.player.playVideo()
    }
  }
}
</script>

<style lang="scss" scoped>

@import '~vars';

.video.page /deep/ iframe, .youtube {
  width: 100%;
  height: 200%;
  margin-top: -36%;
}

</style>
