<template lang="html">
  <div
    class="step"
    :style="bg">
    <bg-image
      :src="image"
      cover />
    <h1>{{ text }}</h1>
  </div>
</template>

<script>

export default {
  name: 'Step',
  props: {
    image: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    }
  },
  computed: {
    bg() {
      return {
        background: this.color
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '../../../../assets/css/vars.scss';

.step {
  text-align: center;
  position: relative;
  align-items: center;
  color: white;
  height: calc(100vh - 80px);
  display: flex;
  .bg-image {
    height: 100%;
    background: $secondary;
    width: 100%;
  }
  h1 {
    position: absolute;
    width: 100%;
    padding: 0 2em;
    bottom: 0;
  }
}

</style>
