<template lang="html">
  <ul class="faq">
    <li
      v-for="(item, index) in questions"
      :key="item.question"
      :class="getActiveClassName(index)"
      class="question">
      <span
        class="h5"
        @click="toggleActive(index)">{{ item.question }}</span>
      <div
        ref="answers"
        class="answer"
        :style="calcActiveHeight(index)">
        <slot :name="item.question" />
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Faq',
  props: {
    questions: {
      type: Array,
      required: true
    },
    active: {
      type: [Boolean, Number],
      required: true
    }
  },
  data () {
    return {
      didMount: false
    }
  },
  mounted () {
    this.$refs.answers.forEach((ans, i) => {
      this.questions[i].height = ans.offsetHeight + 20
      this.didMount = true
    })
  },
  methods: {
    toggleActive (i) {
      this.$emit('setActive',this.active === i ? false : i)
    },
    calcActiveHeight (i) {
      if (this.didMount) {
        return {
          height: `${this.active === i ? this.questions[i].height : 0}px`
        }
      }
    },
    getActiveClassName (i) {
      return this.active === i && 'active'
    }
  }
}
</script>

<style lang="scss" scoped>

@import '../../../../../assets/css/vars.scss';

.faq {
  width: 100%;
  .question {
    &.active {
      span:before {
        transform: translateY(-50%) rotate(90deg);
      }
    }
    span {
      position: relative;
      display: block;
      line-height: 4rem;
      &:before, &:after {
        content: '';
        right: .5rem;
        position: absolute;
        width: 3px;
        height: 1rem;
        background: currentColor;
        top: 50%;
        transform: translateY(-50%);
      }
      &:after {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
  .answer {
    overflow: hidden;
    transition: .7s;
    white-space: pre-line;
    max-height: 40vh;
    overflow: auto;
    box-sizing: border-box;
  }
}

</style>
