<template lang="html">
  <main class="page intro">
    <back-icon @click="go('/')" />
    <div class="intro-content">
      <h1 class="headline">Instructions</h1>
      <carousel
        :per-page="1"
        :pagination-enabled="true"
        :navigation-enabled="true">
        <slide
          v-for="step in steps"
          :key="step.headline">
          <step>
            <bg-image
              slot="image"
              :src="step.image" />
            <h3 slot="headline">{{ step.headline }}</h3>
            <p slot="text">{{ step.text }}</p>
          </step>
        </slide>
        <slide class="end">
          <h4>You are now ready to use the app</h4>
          <push-button @click="go('/on')">Start scanning</push-button>
        </slide>
      </carousel>
      <div class="steps-navigation">
        <push-button @click="go('/on')">Skip Intro</push-button>
      </div>
    </div>
  </main>
</template>

<script>


import { FadeInOut } from 'Mixins'

import inst1 from 'Assets/photos/instr1.png'
import inst2 from 'Assets/photos/instr2.png'

import Step from './components/step'

export default {
  components: {
    Step
  },
  mixins: [FadeInOut],
  data () {
    return {
      steps: [
        {
          headline: '1. Point and shoot',
          text: 'Hold this tablet\'s camera up to anything in the museum which you wish to know more about. The object will be automatically recognised, allowing you to access more info.',
          image: inst1
        }, {
          headline: '2. See more info',
          text: 'Tapping \'VIEW MORE\' will present you with an artifact overview, featuring frequently asked questions and the possibility to share of favorite artifacts. Tapping on the questions will reveal answers and more.',
          image: inst2
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.intro {
  .steps-navigation {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .VueCarousel {
    width: calc(100vw - 10rem);
  }
  .end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .push-button {
      margin-top: 2rem;
    }
  }
  /deep/ .VueCarousel-wrapper {
    overflow: visible;
  }
  /deep/ .VueCarousel-slide {
    opacity: 0;
    transition: .5s;
  }
  /deep/ .VueCarousel-slide.VueCarousel-slide-active.VueCarousel-slide-center {
    opacity: 1;
  }
  /deep/ button.VueCarousel-navigation-button {
    background: $primary-light;
    width: $padding;
    height: $padding;
    font-size: 1.4rem;
    opacity: 1;
    position: fixed;
    top: 50%;
    margin: 0 !important;
    right: 0;
    transform: translateY(-50%);
    &.VueCarousel-navigation-prev {
      left: 0;
    }
  }
}

</style>
