<template lang="html">
  <solution-view />
</template>

<script>

import SolutionView from 'Components/routes/solution'

export default {
  name: 'Solution',
  components: {
    SolutionView
  }
}
</script>

<style lang="scss" scoped>

</style>
