@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('ProximaNova-Condensed-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('ProximaNova-Condensed-Light-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('ProximaNova-Condensed-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
