<template lang="html">
  <main class="page">
    <back-icon @click="go(-1)" />
    <div class="graphic">
      <h1>{{ headline }}</h1>
      <h3>{{ subheadline }}</h3>
      <div class="image">
        <i
          :style="position(currentPosition)"
          class="dot here" />
        <i
          v-for="(place, i) in filteredPlaces"
          :key="place.x"
          :style="position(place)"
          :class="dotClassName(i)"
          class="dot"
          @click="activate(i)" />
        <img :src="mapImg">
      </div>
      <div class="key">
        <div class="dot here"></div>
        <span>you are here</span>
      </div>
    </div>
    <div class="content">
      <photo-slider
        :active="activeItem"
        :images="images" />
      <div class="text">
        <h1>{{ selected.headline }}</h1>
        <h4>{{ selected.subheadline }}</h4>
        <p>{{ selected.description }}</p>
        <br>
        <coming-soon>
          <push-button>Take me there</push-button>
        </coming-soon>
      </div>
    </div>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'
import { mapState } from 'vuex'

import mapImg from 'Assets/photos/map.png'
import img1 from  'Assets/photos/img1.jpg'
import img2 from  'Assets/photos/img2.jpg'
import img3 from  'Assets/photos/img3.jpg'
import img4 from  'Assets/photos/img4.jpg'
import img5 from  'Assets/photos/img5.jpg'
import img6 from  'Assets/photos/img6.jpg'

export default {
  mixins: [FadeInOut],
  data() {
    return {
      mapImg,
      activeItem: 0,
      currentPosition: {
        x: .793,
        y: .79
      }
    }
  },
  computed: {
    ...mapState({
      places: ({ map }) => map.places,
      tag: ({ map }) => map.tag,
      headlines: ({ map }) => map.headline,
      subheadlines: ({ map }) => map.subheadline
    }),
    selected() {
      return this.filteredPlaces[this.activeItem]
    },
    images() {
      return this.filteredPlaces.map(({ image }) => image)
    },
    filteredPlaces() {
      return this.places.filter(({ tags }) => tags.indexOf(this.$route.params.tag) !== -1)
    },
    headline() {
      return this.headlines[this.$route.params.tag]
    },
    subheadline() {
      return this.subheadlines[this.$route.params.tag]
    },
  },
  methods: {
    position({ x, y }) {
      return {
        left: x*100 + '%',
        top: y*100 + '%'
      }
    },
    activate(i) {
      this.activeItem = i
    },
    dotClassName(i) {
      return this.activeItem === i && 'active'
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

@keyframes here {
  0% {
    box-shadow: 0 0 0 0 $blue, 0 0 0 0 $red;
  }
  25% {
    box-shadow: 0 0 0 0 $blue, 0 0 0 4px $red;
  }
  50% {
    box-shadow: 0 0 0 4px $blue, 0 0 0 8px $red;
  }
  100% {
    box-shadow: 0 0 0 8px $blue, 0 0 0 12px rgba($red,0);
  }
}

.graphic {
  width: 50%;
  background: $blue;
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 50px;
  }
  img {
    width: 100%;
  }
  .image {
    position: relative;
    width: 80%;
  }
}

h1 {
  margin-bottom: 0;
  + h3 {
    margin: 10px 0 30px;
  }
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px white solid;
  position: absolute;
  &.here {
    background: $red;
    width: 15px;
    animation: here 1s linear infinite;
    height: 15px;
    border: none;
  }
  &.active {
    background: white;
  }
}

.key {
  text-align: left;
  width: 80%;
  margin-top: 20px;
  .dot {
    position: relative;
    display: inline-block;
    vertical-align: sub;
    animation: none;
    margin-right: 5px;
  }
}

.content {
  height: 100%;
  padding: 0;
  .photo-slider {
    width: 100%;
    height: 50%;
  }
}

.text {
  padding: 50px;
}

</style>
