<template lang="html">
  <main class="page intro">
    <back-icon @click="go(-1)" />
    <div class="intro-content">
      <carousel
        :per-page="2"
        :pagination-enabled="true"
        :navigation-enabled="true">
        <slide
          v-for="({image,text,color}) in slides"
          :key="image">
          <step
            :text="text"
            :color="color"
            :image="image" />
        </slide>
      </carousel>
    </div>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'
import { mapState } from 'vuex'

import Step from './components/step'


export default {
  components: {
    Step
  },
  mixins: [FadeInOut],
  computed: {
    ...mapState({
      allSlides: ({slides}) => slides.lists
    }),
    slides() {
      return this.allSlides[this.$route.params.id]
    }
  }
}
</script>

<style lang="scss" scoped>

@import '~vars';

.intro {
  padding: $padding $padding 0;
  .steps-navigation {
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .VueCarousel {
    width: calc(100vw - 80px);
  }
  /deep/ .VueCarousel-wrapper {
    overflow: visible;
  }
  /deep/ .VueCarousel-slide {
    transition: .5s;
  }
  /deep/ .VueCarousel-slide.VueCarousel-slide-active.VueCarousel-slide-center {
    opacity: 1;
  }
  /deep/ div.VueCarousel-pagination {
    height: $padding;
    display: flex;
    align-items: center;
  }
  /deep/ .VueCarousel-dot {
    display: none !important;
  }
  /deep/ button.VueCarousel-navigation-button {
    background: $primary-light;
    width: $padding;
    height: $padding;
    opacity: 1;
    color: $text;
    font-size: 20px;
    position: fixed;
    top: 50%;
    margin: 0 !important;
    right: 0;
    transform: translateY(-50%);
    &.VueCarousel-navigation-prev {
      left: 0;
    }
  }
}

</style>
