<template lang="html">
  <main class="artifact page">
    <back-icon @click="go(-1)" />
    <div class="overview content">
      <h1 class="xl">the collection</h1>
      <h3>Here you can find dolor sit amet consectetur.</h3>
      <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <coming-soon class="content">
      <div
        v-for="{ title, icon, img } in items"
        class="item">
        <bg-image
          :src="img"
          cover />
        <div class="text">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </coming-soon>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'

import img1 from  'Assets/photos/img1.jpg'
import img2 from  'Assets/photos/herg.jpg'
import img3 from  'Assets/photos/jens.jpg'

export default {
  mixins: [FadeInOut],
  data() {
    return {
      images: [img1],
      activeImage: 0,
      items: [{
        title: 'Collection overview',
        icon: 'icon-heart',
        img: img1
      }, {
        title: 'News and events',
        icon: 'icon-heart',
        img: img2
      }, {
        title: 'See favourites',
        icon: 'icon-heart',
        img: img3
      }]
    }
  }
}

</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.page {
  align-items: stretch;
  justify-content: space-between;
}

.overview {
  width: 50%;
  h3 {
    margin: 30px 0;
  }
  p {
    margin-bottom: 20px;
  }
}

.content {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  text-align: center;
  &:last-child {
    padding: 0;
  }
  .item {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    .bg-image {
      height: 100%;
      width: 260px;
    }
    .text {
      flex: 1;
    }
    &:nth-child(1) {
      background: $blue;
    }
    &:nth-child(2) {
      background: $yellow;
    }
    &:nth-child(3) {
      background: $red;
    }
  }
}

</style>
