<template lang="html">
  <main class="page">
    <back-icon @click="go(-1)" />
    <div class="timeline">
      <h1>Timeline of modernism</h1>
      <h3>(work in progress)</h3>
      <div class="content timeline-graphic">
        <push-button
          v-for="({ date, headline, subheadline },i) in items"
          :key="date"
          @click="selectItem(i)"
          class="item">
          <h4>{{ headline }}</h4>
          <p>{{ subheadline }}</p>
          <i class="line" />
        </push-button>
      </div>
    </div>
    <photo-slider
      :active="activeItem"
      :images="images" />
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'
import { mapState } from 'vuex'

export default {
  mixins: [FadeInOut],
  data() {
    return {
      activeItem: 0
    }
  },
  computed: {
    ...mapState({
      items: ({ timeline }) => timeline.list
    }),
    images() {
      return this.items.map(({image}) => image)
    },
    defaultImage() {
      return this.items && this.items[0].image
    }
  },
  methods: {
    selectItem(i) {
      this.activeItem = i
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.timeline {
  overflow: auto;
  width: 50%;
  height: 100%;
  padding: 50px;
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin: 20px 0;
  }
}

.timeline-graphic {
  position: relative;
  margin: 50px 0 20px;
  display: inline-block;
  width: 100%;
  &:before, &:after {
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    box-sizing: border-box;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
  }
  &:before {
    border-right: 10px black solid;
  }
  &:after {
    border: 10px black solid;
    width: 100px;
    top: 0;
    border-left: 0;
    border-right: 0;
  }
  .item {
    text-align: right;
    border: 6px black solid;
    padding: 15px 20px 5px;
    width: calc(50% - 50px);
    float: left;
    clear: both;
    position: relative;
    i {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 10px;
      background: black;
    }
    &:nth-child(even) {
      i {
        right: 100%;
        left: auto;
      }
      text-align: left;
      float: right;
    }
  }
}

</style>
