<template lang="html">
  <timeline-view />
</template>

<script>

import TimelineView from 'Components/routes/timeline'

export default {
  name: 'Timeline',
  components: {
    TimelineView
  }
}
</script>
