<template lang="html">
  <main class="artifact page">
    <back-icon @click="go('/on')" />
    <photo-slider
      :active="activePhoto"
      :images="artifactImages"
      class="content-image" />
    <div
      :style="background"
      class="info content">
      <div
        :class="openClassName"
        class="title">
        <h1>{{ headline }}</h1>
        <h3>{{ subheadline }}</h3>
        <coming-soon>
          <i class="h2 icon-share" />
          <i class="h2 icon-heart" />
        </coming-soon>
      </div>
      <faq
        :active="activeQuestion"
        :questions="questions"
        @setActive="setActiveQuestion">
        <div
          v-for="item in questions"
          :key="item.question"
          :slot="item.question"
          class="answer-content">
          <p>{{ item.answer }}</p>
          <push-button
            v-for="({ text, to }) in links(item)"
            :key="text"
            @click="go(to)">{{ text }}</push-button>
        </div>
      </faq>
    </div>
  </main>
</template>

<script>

import { mapState } from 'vuex'
import { FadeInOut } from 'Mixins'
import Faq from './components/faq'

export default {
  components: {
    Faq
  },
  mixins: [FadeInOut],
  data () {
    return {
      activeQuestion: false,
    }
  },
  computed: {
    ...mapState({
      defaultImage: ({ artifact }) => artifact.list[artifact.id].defaultImage,
      color: ({ artifact }) => artifact.list[artifact.id].color,
      questions: ({ artifact }) => artifact.list[artifact.id].questions,
      headline: ({ artifact }) => artifact.list[artifact.id].headline,
      subheadline: ({ artifact }) => artifact.list[artifact.id].subheadline,
    }),
    artifactImages () {
      return [this.defaultImage,...this.questions.map(x => x.image)]
    },
    openClassName () {
      return this.activeQuestion !== false && 'open'
    },
    activePhoto () {
      return this.activeQuestion === false ? 0 : this.activeQuestion + 1
    },
    background() {
      return {
        background: this.color
      }
    }
  },
  methods: {
    setActiveQuestion (i) {
      this.activeQuestion = i
    },
    links({ link }) {
      if (Array.isArray(link)) {
        return link
      } else if (link === undefined) {
        return []
      } else {
        return [link]
      }
    },
  }
}
</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.artifact {
  justify-content: space-between;
  height: 100%;
  background: $primary;
  color: white;
}

.answer-content {
  padding: 0 0 1rem;
  .push-button {
    margin-top: 1rem;
  }
}

.info {
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: $padding;
  padding-bottom: $padding;
  .title {
    width: 100%;
    text-align: center;
    transition: .3s;
    &.open {
      margin-top: -20em;
      opacity: 0;
    }
  }
  h1 {
    margin: 0 -1em 1.5rem;
  }
  h3 {
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

</style>
