@import './vars.scss';

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: $primary;
  align-items: center;
  border: 40px $primary-light solid;
  overflow: hidden;
  .content {
    width: 50%;
    padding: 100px 4em 0;
    height: 100%;
    overflow: auto;
  }
  .content-image {
    width: 50%;
    height: 100%;
  }
}
