*, fieldset {
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

*:focus {
  outline: none;
}

html, body {
  font-size: 16px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, input {
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}
