@import './vars.scss';

html {
  font-size: 16px;
}

body {
  font-family: 'Proxima Nova';
}

h1, .h1 {
  font-family: 'Proxima Nova Condensed';
  text-transform: uppercase;
  line-height: rem(56px);
  font-size: rem(48px);
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  &.xl {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4.85714em;
    line-height: 0.90441em;
    letter-spacing: 0.07em;
    text-align: center;
  }
}


h2, .h2 {
  font-family: 'Proxima Nova Condensed';
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: rem(27px);
  font-weight: 600;
  letter-spacing: 0.06em;
}


h3, .h3 {
  font-family: 'Proxima Nova Condensed';
  text-transform: uppercase;
  font-weight: 200;
  font-size: rem(20px);
  line-height: rem(32px);
  font-weight: 100;
  font-size: 1.71429em;
  margin-bottom: 20px;
  line-height: 1.16667em;
  letter-spacing: 0.06em;
}


h4, .h4 {
  font-family: 'Proxima Nova Condensed';
  text-transform: uppercase;
  font-size: rem(36px);
  line-height: rem(50px);
  letter-spacing: 0.06em;
}

h5, .h5 {
  font-family: 'Proxima Nova Condensed';
  text-transform: uppercase;
  font-size: rem(25px);
  letter-spacing: 0.06em;
}


h6, .h6 {
  font-family: 'Proxima Nova Condensed';
  text-transform: uppercase;
  font-size: rem(19px);
  font-weight: 200;
  letter-spacing: 0.06em;
}

p, .p {
  font-family: 'Proxima Nova';
  font-size: rem(17px);
  letter-spacing: 0;
  line-height: rem(28px);
  letter-spacing: 0.06em;
}
