// Mixins

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// phones only

@mixin xs {
  @media (max-width: 600px) {
    @content;
  }
}

// larger than phones

@mixin s {
  @media (min-width: 600px) {
    @content;
  }
}

// larger than tablets

@mixin m {
  @media (min-width: 990px) {
    @content;
  }
}

// larger than laptops

@mixin l {
  @media (min-width: 1500px) {
    @content;
  }
}

// Variables

$primary: white;
$primary-light: #f2f2f0;
$primary-dark: #404045;
$secondary: #2d2d30;
$text: #2d2d30;
$padding: 5.4rem;
$blue: #1071bf;
$green: #bfc13c;
$red: #e68a79;
$purple: #8f6d9f;
$yellow: #4953b2;
$beige: #bb9477;

// Classes

.bg-primary {
  background-color: $primary;
  color: #444;
}
