<template lang="html">
  <running-view />
</template>

<script>

import RunningView from 'Components/routes/running'

export default {
  components: {
    RunningView
  }
}

</script>

<style lang="scss" scoped>
</style>
