<template lang="html">
  <div class="content">
    <div class="images">
      <slot name="image" />
    </div>
    <div class="info">
      <div class="steps">
        <div class="intro-step-content">
          <slot name="headline" />
          <slot name="text" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Step'
}
</script>

<style lang="scss" scoped>

@import '../../../../assets/css/vars.scss';

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 4rem 4rem 2rem;
  /deep/ .bg-image {
    height: 100%;
  }
}

.images {
  width: 20rem;
  height: 20rem;
  background: $primary-dark;
  border-radius: 50%;
}
.info {
  width: 50%;
  h3 {
    margin-bottom: 1rem;
  }
}

</style>
