<template lang="html">
  <main class="bio page">
    <back-icon @click="go(-1)" />
    <photo-slider
      :images="images"
      class="content-image" />
    <div
      class="content-container"
      :style="color">
      <router-view @go="go($event)" />
    </div>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'
import { mapState } from 'vuex'

export default {
  mixins: [FadeInOut],
  computed: {
    ...mapState({
      people: ({ bios }) => bios.people
    }),
    person() {
      return this.people[this.$route.path.replace('/bio/','')]
    },
    images() {
      return [this.person.images]
    },
    color() {
      return {
        background: this.person.color
      }
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.content-container {
  color: white;
  padding: 0;
  height: 100%;
  width: 50%;
  /deep/ > .content {
    padding-bottom: 2em;
    width: 100%;
    h2 {
      margin-top: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    .push-button {
      margin: 20px 0 40px;
    }

    .images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .image {
      width: 48%;
      margin-bottom: 20px;
      display: inline-block;
      .bg-image {
        width: 100%;
        height: 200px;
      }
      span {
        background: $primary-dark;
        display: block;
        padding: 10px 10px 8px;
      }
    }
  }
}

</style>
