<template lang="html">
  <div class="content">
    <h1>Peder Severin Krøyer</h1>
    <h3>1851 – 1909</h3>
    <div>
      <p>P.S. Krøyer had a rough start at life. Born to a mentally ill mother in Stavanger, Norway, he was adopted by his aunt Bertha Cecilie Krøyer in Copenhagen before his first birthday.</p>
      <p>He preferred to be called Søren rather than Peder Severin, and showed exceptional artistic skills from an early age. He was thus accepted into the Royal Danish Academy of Art at 13 years old.</p>
      <p>Krøyer didn’t always feel wanted by his adopted father, but yet found his passion in life as his adopted father encouraged him to draw illustrations for his new book on crabs. The illustrations were published, and Krøyer began his education as an artist.</p>
      <p>He studied in France and Spain, and soon gained recognition for his work internationally. He was representative for the movement known as ‘The modern breakthrough’, where romantic depictions of the world was replaced by more realistic portrayals - for better or worse.</p>
      <p>Krøyer suffered from health problems and mental illness problems, and died in 1909 at the age of 58.</p>
      <push-button @click="$emit('go','/solution/self')">See self portraits</push-button>
      <h2>What about Marie Krøyer?</h2>
      <p>P.S. Krøyers wife - Marie Krøyer, is also know as the. They met in France where Marie was also studying as an artist and married in 1889. Marie Krøyers work has however been mostly unknown until recent years.</p>
      <p>In the 1890 doubleportrait, which is painted on the couples honeymoon its believed that they painted each other. In 1902 Marie met the Swedish composer Hugo Alfvén, and eventually divorcesd Krøyer. This was quite a scandal at the same. A film was made in 2012, based on the life of Marie Krøyer.</p>
      <push-button @click="$emit('go','/video/f_cv3SgkoQQ')">See trailer</push-button>
    </div>
  </div>
</template>

<script type="text/javascript">

export default {
  methods: {
  }
}

</script>
