<template lang="html">
  <div class="content">
    <h1>significance of the Italian Field Labourers</h1>
    <div>
      <p>Simultaneously with his work on Italian Field Labourers, he also paints Italian Village Hatmakers. This work - Italian Village Hatmakers, helped Krøyer to his international breakthrough as it receives a medal of third degree in Paris.</p>
      <p>Just like the Italian Village Hatmakers, the Italian Field Labourers focus on the realities of life in the Italian countryside, rather than simply depicting the beauty of the Italian landscape.</p>
      <p>In a letter from 15 august 1880 he writes to his friend in Denmark. </p>
      <p>‘I have been working for over 3,5 months in Sora. My field labourers painting has taken me longer than expected. And its not yet finished - far from it I can say. To have a rest from this picture, I have started making some sketches in the Hatmakers workshop. This has resulted in me working on a very interesting picture…’</p>
      <p>Though the Italian Village Hatmakers gained international praise, it was not well received in Denmark at first. An art critic expresses himself in ‘Højskolebladet’ in 1882: </p>
      <p>‘It becomes unbelievable why an artist of Krøyers skill and capability would want to apply his skills with the pencil on skinny, yellow, half-naked Hatmakerworkers, unless he with colours have wanted to defend Darwins Abe theory, for in that case he has been clear enough. However I believe that the impartial viewer will doubt that the nose-dripping human-baboon and the dirty children is a real image, as they seem far more like works of the imagination’</p>
      <p>Perhaps the Italian Field Labourers was received with as much scepticism when it was first revealed in Denmark?</p>
    </div>
  </div>
</template>
