<template lang="html">
  <div class="content">
    <h1>Vilhelm Lundstrøm</h1>
    <h3>1893 - 1950</h3>
    <div>
      <p>Vilhelm Lundstrøm is one of the most famous and beloved Danish artists from the 20th century.</p>
      <p>He spent an extended period of time of the 1920s working and studying in France, where he was influenced by artists such as Braque, Picasso and Cézanne. This can be seen is some of his earlier work such as ‘Lunch in the green’ (1920) and </p>
      <p>The Four (Hommage aux peintres artistes) (1920)</p>
      <push-button @click="$emit('go','/solution/lundstrom')">view paintings</push-button>
      <p>This period of his style is often referred to as his ‘crumbled period’. Such expressionist forms of art was originally not well received in Denmark, but was accused of being deliberately sensational and too flamboyant, and some even accused him and other such young artists as being mentally ill.</p>
      <p>Lundstrøm later developed his classical period, which is also known as the Cagnes-period. He is here painted the work ‘Yrsa with Dorthe’, which can also be seen in the collection, before he moves on to the geometric still lives, such as ‘Still life with Jugs’</p>
      <p></p>
      <p>Prints of Lundstrøm are available for purchase in Brandts gift shop.</p>
      <push-button @click="$emit('go','/solution/prints')">view prints</push-button>
    </div>
  </div>
</template>
