<template lang="html">
  <div class="content">
    <h1>comparison of anchor and krøyer</h1>
    <div>
      <p>Skagensmalerne spent their summers at Skagen, where they lived close together, painted together and socialised together. Many of P S Krøyers most commonly recognised works are from here. Among the artist group, P S Krøyer and the couple Anne and Michael Ancher, formed the center. P S Krøyer and Michael Ancher were close friends, but also rivals. As the artists of the group painted many of the same motives, its however easy to compare their work:</p>
      <push-button @click="$emit('go','/slider/compare')">compare</push-button>
    </div>
  </div>
</template>


<script type="text/javascript">

import a1 from 'Assets/photos/a1.jpg'
import k1 from 'Assets/photos/k1.jpg'
import a2 from 'Assets/photos/a2.jpg'
import k2 from 'Assets/photos/k2.jpg'

export default {
  data() {
    return {
      a1,
      k1,
      a2,
      k2
    }
  }
}

</script>
