<template lang="html">
  <div
    class="icon-button"
    :class="buttonClassName"
    @click="click">
    <slot />
  </div>
</template>

<script>

export default {
  name: 'IconButton',
  props: {
    secondary: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      required: true
    }
  },
  computed: {
    buttonClassName () {
      return ['icon-'+this.icon, this.secondary && 'secondary']
    }
  },
  methods: {
    click ($event) {
      this.$emit('click')
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.icon-button {
  display: flex;
  width: $padding;
  height: $padding;
  position: relative;
  justify-content: center;
  align-items: center;
  float: right;
  font-size: 2.1rem;
  background: $secondary;
  color: white;
  &.secondary {
    background: none;
    color: $text;
  }
}

</style>
