<template lang="html">
  <main ref="content" class="welcome page">
    <div class="area logo-image">
      <bg-image cover :src="bg" />
    </div>
    <div
      class="area"
      @click="begin('/tour')">
      <h1>Guided tours</h1>
      <p>Explore the collection via one of our tours. <i class="icon-arrow-right" /></p>
    </div>
    <div
      class="area"
      @click="begin('/intro')">
      <h1>Explore by yourself</h1>
      <p>Explore the collection by yourself. <i class="icon-arrow-right" /></p>
    </div>
    <div
      class="area"
      @click="begin('/collection')">
      <h1>interact with Collection</h1>
      <p>Learn more about the collection. <i class="icon-arrow-right" /></p>
    </div>
  </main>
</template>

<script>

import anime from 'animejs'
import bg from  'Assets/photos/img7.jpg'

export default {
  data() {
    return {
      bg
    }
  },
  methods: {
    begin (to) {
      anime.timeline()
        .add({
          targets: this.$refs.content,
          opacity: [1, 0],
          duration: 300,
          easing: 'easeInOutQuad',
          complete: () => this.$router.push(to)
        })
    }
  }
}
</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.welcome {
  display: block;
  h2 {
    margin-bottom: rem(0px);
  }
  p {
    margin: 1rem 0 0;
  }
}

.area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $primary-dark;
  color: #fff;
  height: 33.3333%;
  &.logo-image {
    background: $blue;
    float: left;
    position: relative;
    height: 100%;
  }
  .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

</style>
