<template lang="html">
  <matched-view />
</template>

<script>

import MatchedView from 'Components/routes/matched'

export default {
  components: {
    MatchedView
  }
}

</script>

<style lang="scss" scoped>
</style>
