<template lang="html">
  <explore-view />
</template>

<script>

import ExploreView from 'Components/routes/explore'

export default {
  name: 'Explore',
  components: {
    ExploreView
  }
}
</script>

<style lang="scss" scoped>

</style>
