<template lang="html">
  <artifact-view />
</template>

<script>

import ArtifactView from 'Components/routes/artifact'

export default {
  name: 'Artifact',
  components: {
    ArtifactView
  }
}
</script>

<style lang="scss" scoped>

</style>
