<template lang="html">
  <exhibition-view />
</template>

<script>

import ExhibitionView from 'Components/routes/exhibition'

export default {
  name: 'Exhibition',
  components: {
    ExhibitionView
  }
}
</script>
