<template lang="html">
  <collection-view />
</template>

<script>

import CollectionView from 'Components/routes/collection'

export default {
  name: 'Collection',
  components: {
    CollectionView
  }
}
</script>
