<template lang="html">
  <map-view />
</template>

<script>

import MapView from 'Components/routes/map'

export default {
  components: {
    MapView
  }
}

</script>

<style lang="scss" scoped>
</style>
