<template lang="html">
  <div
    :class="visibleClassName"
    class="pop-up">
    {{ text }}
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'PopUp',
  computed: {
    ...mapState({
      text: state => state.popup.text,
      visibleClassName: state => state.popup.visible && 'visible'
    })
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.pop-up {
  position: fixed;
  width: 20rem;
  left: 50%;
  top: 2rem;
  z-index: 99;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px #00000036;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0;
  color: black;
  transition: .3s;
  pointer-events: none;
  transform: translate(-50%, 10%);
  &.visible {
    opacity: 1;
    transform: translateX(-50%);
  }
}

</style>
