<template lang="html">
  <div class="matched">
    <icon-button
      ref="back"
      icon="cross"
      @click="back" />
    <div
      ref="screen"
      class="screen" />
    <div
      ref="content"
      class="content"
      :style="background">
      <bg-image
        :src="image"
        cover />
      <div class="content-text">
        <h4>{{ headline }}</h4>
        <p>{{ subheadline }}</p>
        <div class="buttons">
          <push-button
            emphasis
            @click="viewMore">View more<i class="icon-arrow" /></push-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import anime from 'animejs'
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      image: ({ artifact }) => artifact.list[artifact.id].defaultImage,
      headline: ({ artifact }) => artifact.list[artifact.id].headline,
      subheadline: ({ artifact }) => artifact.list[artifact.id].subheadline,
      color: ({ artifact }) => artifact.list[artifact.id].color,
    }),
    background() {
      return {
        background: this.color
      }
    }
  },
  methods: {
    viewMore () {
      anime.timeline({
        complete: () => this.$router.push('/artifact/example')
      })
        .add({
          targets: [this.$refs.content, this.$refs.back.$el],
          translateX: [0,'30rem'],
          easing: 'easeInOutQuad',
          duration: 500,
        })
        .add({
          targets: this.$refs.screen,
          width: ['100%', `${window.innerWidth}px`],
          easing: 'easeInOutQuad',
          duration: 700,
          offset: -200,
        })
    },
    back () {
      anime.timeline()
        .add({
          targets: this.$el,
          marginRight: [0,'-30rem'],
          easing: 'easeInOutQuad',
          duration: 500,
          complete: () => this.$router.push('/on')
        })
    }
  }
}
</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

@keyframes bounce {
  from {
    margin-right: -30rem;
  }
  to {
    margin-right: 0;
  }
}

.screen {
  position: fixed;
  width: 0;
  height: 100vh;
  right: 0;
  top: 0;
  background: $primary;
}

.content {
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
}

.content-text {
  flex: 1;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.matched {
  right: 0;
  background: white;
  top: 0;
  height: 100%;
  width: 30rem;
  position: relative;
  animation: bounce 1s ease;
  .bg-image {
    height: 24rem;
    border-radius: 0;
    overflow: hidden;
  }
  h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  p {
    margin: 1rem 0;
  }
  .push-button {
    margin: 1rem 0;
  }
}

div.icon-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

</style>
