<template lang="html">
  <span
    class="coming-soon"
    @click="warn">
    <slot />
  </span>
</template>

<script>

import { OPEN_COMING_SOON_POPUP, CLOSE_POPUP } from 'Store'

export default {
  name: 'ComingSoon',
  methods: {
    warn () {
      this.$store.commit(OPEN_COMING_SOON_POPUP)
      setTimeout(() => this.$store.commit(CLOSE_POPUP), 3000)
    }
  }
}
</script>

<style lang="css">
</style>
