<template lang="html">
  <div class="input-slider">
    <div
      ref="ball"
      :style="ballStyle"
      class="ball" />
  </div>
</template>

<script>
import slide from './slide'

export default {
  name: 'InputSlider',
  mixins: [slide],
  props: {
    val: {
      type: Number,
      required: true
    }
  },
  computed: {
    ballStyle() {
      const outerWidth = this.$el ? this.$el.offsetWidth : 0
      const innerWidth = this.$refs.ball ? this.$refs.ball.offsetWidth : 0
      return {
        left: this.val * (outerWidth - innerWidth) + 'px'
      }
    }
  }
}
</script>

<style lang="scss" scoped>

@import '~vars';

.input-slider {
  width: 300px;
  height: 40px;
  background: $primary-light;
  position: relative;
}

.ball {
  width: 40px;
  height: 40px;
  position: absolute;
  background: $secondary;
  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 4px;
    background: white;
    left: 50%;
    margin-left: -2px;
    opacity: .2;
    position: relative;
  }
}

</style>
