<template lang="html">
  <button
    :class="buttonClassName"
    class="push-button h4"
    @click="clickEvent"><slot /></button>
</template>

<script>

export default {
  name: 'PushButton',
  props: {
    active: {
      default: false,
      type: Boolean
    },
    emphasis: {
      default: false,
      type: Boolean
    }
  },
  data: () => ({
    hovered: false
  }),
  computed: {
    buttonClassName () {
      return {
        active: this.active,
        emphasis: this.emphasis,
        hovered: this.hovered
      }
    }
  },
  mounted() {
    this.$el.addEventListener('touchstart', e => {
      this.hovered = true
    })
    this.$el.addEventListener('touchend', e => {
      this.hovered = false
    })
  },
  methods: {
    clickEvent (e) {
      this.$emit('click', e)
    },
    hover() {
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.push-button {
  transition: all 0.2s ease;
  vertical-align: middle;
  padding: 10px 40px;
  padding-top: 12px;
  border: 6px solid currentColor;
  box-shadow: 10px 10px currentColor;
  position: relative;
  line-height: normal;
  font-weight: 100;
  letter-spacing: .17rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -16px;
    left: -6px;
    height: 0;
    width: 0;
    border-top: 10px solid currentColor;
    transition: all 0.2s ease;
    border-left: 10px solid transparent;
  }
  &:after {
    top: -6px;
    right: -16px;
    left: auto;
    border-top-color: transparent;
    border-left-color: currentColor;
  }
  &.hovered {
    transform: translateX(10px) translateY(10px);
    box-shadow: 0 0 currentColor;
    &:after {
      top: -6px;
      right: -6px;
      border-width: 0;
    }
    &:before {
      bottom: -6px;
      left: -6px;
      border-width: 0;
    }
  }
}

</style>
