<template lang="html">
  <main class="artifact page">
    <back-icon @click="go(-1)" />
    <div class="image">
      <div
        v-for="layer in layers"
        :key="layer.src"
        :style="hue(layer.hue)">
        <bg-image
          :src="layer.src"
          cover />
      </div>
    </div>
    <div class="caption">
      <h4>Experiment with color theory</h4>
      <p>Drag the sliders to change the colors. This is a short sentence or two explaining color theory. This is a short sentence or two explaining color theory.</p>
      <div class="controls">
        <div class="indicator"></div>
        <input-slider
          v-for="(layer,i) in layers"
          :key="layer.src"
          :val="layer.hue"
          @update="updateHueOne($event,i)"/>
      </div>
    </div>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'

import layer1 from  'Assets/photos/color-1.jpg'
import layer2 from  'Assets/photos/color-2.png'
import layer3 from  'Assets/photos/color-3.png'
import layer4 from  'Assets/photos/color-4.png'

export default {
  mixins: [FadeInOut],
  data() {
    return {
      layers: [
        { src: layer1, hue: Math.random() },
        { src: layer2, hue: Math.random() },
        { src: layer3, hue: Math.random() },
        { src: layer4, hue: Math.random() }
      ],
      hueOne: 0
    }
  },
  methods: {
    updateHueOne(v,i) {
      this.layers[i].hue = v
    },
    hue(deg) {
      return {
        filter: `hue-rotate(${deg*260}deg)`
      }
    }
  }
}

</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.page {
  align-items: stretch;
  justify-content: space-between;
}

.image {
  opacity: 1;
  width: 50%;
  overflow: hidden;
  position: relative;
  > div {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .bg-image {
    width: 100%;
    height: 100%;
  }
}

.indicator {
  background: linear-gradient(90deg,red,orange,yellow,green,blue,indigo,violet);
  width: 300px;
  height: 4px;
  margin-bottom: 10px;
}

.input-slider {
  width: 100%;
  margin-bottom: 20px;
}

p {
  padding: 0 5em;
  margin: 1em 0 2em;
}

.caption {
  opacity: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

</style>
