<template lang="html">
  <div
    :title="title"
    :class="loadedClassName"
    class="bg-image"
  >
    <div
      :style="bg(src)"
      class="bg bg-desktop" />
    <div
      :style="bg(srcMobile)"
      class="bg bg-mobile" />
    <div
      v-if="$slots.default"
      class="slot">
      <slot />
    </div>
  </div>
</template>

<script>

export default {
  name: 'BgImage',
  props: {
    src: {
      type: String,
      required: true
    },
    srcMobile: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    cover: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      loadedClassName: 'unloaded'
    }
  },
  mounted () {
    const img = new Image()
    img.onload = () => this.loadedClassName = 'loaded'
    img.src = window.innerWidth < 990 ? this.srcMobile || this.src : this.src
  },
  methods: {
    bg (src) {
      return {
        backgroundImage: `url(${src||this.src})`,
        backgroundSize: this.cover ? 'cover' : 'contain'
      }
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.bg-image {
  position: relative;
  &.unloaded .bg {
    opacity: 0;
  }
  &.loaded .bg {
    transition: .5s;
    opacity: 1;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-desktop {
    display: none;
    @include m {
      display: block;
    }
  }
  .bg-mobile {
    @include m {
      display: none;
    }
  }
  .slot {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

</style>
