<template lang="html">
  <intro-view />
</template>

<script>

import IntroView from 'Components/routes/intro'

export default {
  name: 'Intro',
  components: {
    IntroView
  }
}
</script>

<style lang="scss" scoped>

</style>
