<template lang="html">
  <icon-button
    class="back"
    icon="back"
    @click="back" />
</template>

<script>
export default {
  name: 'BackIcon',
  props: {
    to: {
      type: String,
      default: ''
    },
    spoof: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    back () {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>

.back.icon-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

</style>
