<template>
  <div id="app">
    <navigation />
    <pop-up />
    <router-view />
  </div>
</template>

<script>

import { SET_ARTIFACT_ID } from 'Store/constants'

export default {
  name: 'App',
  mounted () {
    window.objectDetected = (id) => {
      this.$router.push(`/on/match/example`)
      this.$store.commit(SET_ARTIFACT_ID,(this.$store.state.artifact.id+1)%3)
    }
    // window.objectDetected = (id) => this.$router.push(`/on/match/${id}`)
  }
}
</script>

<style lang="scss">

@import '~Assets/css/main.scss';
@import '~Assets/icons/css/fontello.css';
@import '~Assets/css/font/stylesheet.css';


#app {
  height: 100%;
  color: $text;
  overflow: hidden;
}

</style>
