<template lang="html">
  <main class="artifact page">
    <back-icon @click="go(-1)" />
    <bg-image :src="image" cover />
    <div class="overview content">
      <h3>
        12.4.2019 - 8.9.2019
      </h3>
      <h1>
        L.A. RING
        <br/>
        H.A. BRENDEKILDE
      </h1>
      <h3>
        KUNSTNERBRØDRE
      </h3>
      <br/>
      <br/>
      <p>
        Kunst­ner­ne Lauritz An­der­sen og Hans An­der­sen mødte hin­an­den på Kun­sta­ka­de­mi­et i Kø­ben­havn om­kring 1877. For at sig­na­le­re hvor de kom fra – og måske for ikke at blive for­veks­le­de – tog de begge navn efter deres hjem­stavn, nem­lig lands­by­en Ring tæt ved Næst­ved og Bræn­dekil­de på Fyn. Ud­stil­lin­gen ud­for­sker deres valg af mo­ti­ver og ek­si­sten­ti­el­le te­ma­er fra po­li­tisk opgør til blom­stren­de som­me­ri­dyl.
      </p>
      <p>
        Vi for­tæl­ler hi­sto­ri­en om de to kunst­ne­res nære ven­skab og fæl­les kunst­ne­ri­ske ide­a­ler – men også om ve­je­ne, hvor de skil­tes.
      </p>
      <p>
        Ud­stil­lin­gen bli­ver til i sam­ar­bej­de med Ran­ders Kunst­mu­se­um og Ni­vaa­gaards Ma­le­ri­sam­ling.
      </p>
    </div>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'

import image from  'Assets/photos/brend.jpg'

export default {
  mixins: [FadeInOut],
  data() {
    return {
      image
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.page {
  align-items: stretch;
  justify-content: space-between;
}

.overview {
  background: $green;
  color: white;
  overflow: auto;
  h1 {
    margin: 20px 0;
  }
  h3, h1 {
    text-align: center;
  }
  p {
    margin-bottom: 20px;
  }
}

.bg-image {
  width: 50%;
  height: 100%;
}

</style>
