<template lang="html">
  <main class="page explore">
    <back-icon @click="go(-1)" />
    <div class="pack-container">
      <div>
        <h2 ref="headline">Tags Related to {{ selected.name }}</h2>
      </div>
      <h3>Tap to circles explore</h3>
      <div
        ref="pack"
        class="pack" />
    </div>
    <div
      v-if="selected.name"
      class="explore-info">
      <bg-image
        :src="selected.image"
        cover />
      <div class="text">
        <h1 ref="title">{{ selected.name }}</h1>
        <p ref="info">Some text describing {{ selected.name }} ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </main>
</template>

<script>

import { FadeInOut } from 'Mixins'

import Pack from './pack'
import anime from 'animejs'
import getFormattedData from './puzzles-data'

export default {
  mixins: [FadeInOut],
  data () {
    return {
      radius: 96,
      selected: getFormattedData(),
      animeConfig: {
        opacity: [1, 0],
        duration: 300,
        easing: 'easeInOutQuad',
      }
    }
  },
  mounted () {
    new Pack({
      element: this.$refs.pack,
      update: data => this.animateUpdate(data),
      diameter: this.radius
    })
  },
  methods: {
    animateUpdate (data) {
      anime.timeline()
        .add({
          ...this.animeConfig,
          complete: () => {
            this.selected = data
            this.animateIn()
          },
          targets: [this.$refs.info, this.$refs.title, this.$refs.headline]
        })
    },
    animateIn () {
      anime.timeline()
        .add({
          ...this.animeConfig,
          opacity: [0,1],
          targets: [this.$refs.info, this.$refs.title, this.$refs.headline]
        })
    }
  }
}

</script>

<style lang="scss" scoped>

@import '../../../assets/css/vars.scss';

.explore {
  justify-content: space-between;
  align-items: stretch;
}

.pack {
  width: 32em;
  height: 32em;
  font-size: 1.1rem;
  position: relative;
  margin-top: -1rem;
  /deep/ .bubble {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $secondary;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: $secondary;
    &.parent-bubble {
      opacity: .3;
      span {
        display: none;
      }
    }
    span {
      text-transform: uppercase;
      position: relative;
      z-index: 2;
      color: white;
      background: black;
      padding: 4px 6px 0;
      font-family: 'Proxima Nova Condensed';
    }
  }
}

.explore-content {
  display: flex;
  justify-content: space-between;
}

.explore-info {
  width: 50%;
  text-align: center;
  p {
    overflow: hidden;
    width: 100%;
    padding: 0 2em;
  }
  h1 {
    margin: 0;
  }
  span {
    /deep/ i {
      color: $primary-light;
    }
  }
  .text {
    display: flex;
    align-items: center;
    height: 35%;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }
  .push-button {
    margin: 0 1rem;
  }
  .bg-image {
    width: 100%;
    height: 65%;
    overflow: hidden;
  }
}

.pack-container {
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-dark;
  color: white;
  h2 {
    white-space: pre;
    margin-bottom: .2rem;
  }
  h3 {
    color: $primary-light;
    margin-bottom: 2rem;
  }
}

</style>
