<template lang="html">
  <div
    class="menu-controls"
    @click="toggle">
    <div class="menu-label"><h5 class="white">Menu</h5></div>
    <span class="menubar">
      <div>
        <span />
        <span />
        <span />
      </div>
    </span>
    <span class="close-sub">
      <span />
      <span />
    </span>
  </div>
</template>

<script>
export default {
  methods: {
    toggle() {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>

.menu-controls {
  transition-property: transform 400ms cubic-bezier(0.86, 0, 0.07, 1);
  background-color: #2d2d30;
  width: 80px;
  height: 86px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}

.menu-label {
    position: absolute;
    overflow: hidden;
    height: 86px;
    color: white;
    padding: 26px 0 0 17px;
    top: 0;
    background-color: #2d2d30;
    cursor: pointer;
    transition: all 0.3s ease 0.2s;
    transform: translateX(-70px);
    width: 80px;
    h5 {
      font-size: 1.75em;
    }
}

.menubar {
    transition: all 0.25s linear;
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 86px;
    top: 0px;
    left: 0px;
    background-color: #2d2d30;
    box-sizing: border-box;
    padding: 20px 20px;
    z-index: 100;
}

.menubar span {
  backface-visibility: hidden;
  transition: all 0.5s ease;
  transform-origin: left center;
  background-color: white;
  display: block;
  position: relative;
  height: 5px;
  margin: 6px 0px;
}

.menu-open {
  .menubar span {
    &:nth-child(1) {
      transition: all 0.5s ease;
      transform: rotate(45deg) translateX(0px) translateY(-7px);
    }
    &:nth-child(2) {
      transition: all 0.25s ease;
      opacity: 0;
    }
    &:nth-child(3) {
      transition: all 0.5s ease;
      transform: rotate(-45deg) translateX(2px) translateY(5px);
    }
  }
  .menu-label {
    transform: translateX(100%);
  }
}

</style>
