<template lang="html">
  <div
    :class="navClassName"
    class="navigation">
    <div
      ref="fill"
      class="menu-fill" />
    <div
      ref="navItems"
      class="nav-items">
      <div class="translations">
        <coming-soon>
          <h4
            v-for="lang in langs"
            :key="lang.title"
            class="lang">{{ lang.title }}</h4>
        </coming-soon>
      </div>
      <ul class="links h2">
        <li
          v-for="link in links"
          @click="go(link.to)"
          :key="link.title">
          <coming-soon v-if="link.wip">{{ link.title }}</coming-soon>
          <span v-else>{{ link.title }}</span>
        </li>
      </ul>
    </div>
    <icon @click="toggleMenu"/>
  </div>
</template>

<script>

import icon from './icon'

export default {
  name: 'Navigation',
  components: {
    icon
  },
  data () {
    return {
      links: [{
        title: 'collection',
        to: '/collection'
      }, {
        title: 'view map',
        to: '/map/all'
      }, {
        title: 'select tour',
        to: '/tour'
      }, {
        title: 'reset',
        to: '/'
      }, {
        title: 'instructions',
        to: '/intro'
      }],
      langs: [{title: 'ENGLISH'},{title: 'DANSK'},{title: 'DEUTSCH'}],
      menuOpen: false
    }
  },
  computed: {
    navClassName () {
      return this.menuOpen && 'menu-open'
    }
  },
  methods: {
    toggleMenu () {
      this.menuOpen = !this.menuOpen
    },
    go (to) {
      this.$router.push(to)
      requestAnimationFrame(() => this.toggleMenu())
    }
  }
}

</script>

<style lang="scss" scoped>

@import '~vars';

.navigation {
  position: fixed;
  z-index: 2;
  &.menu-open {
    .menu-fill {
      width: 100vw;
      transition: .5s;
      right: 0;
    }
    .icon-menu:before {
      z-index: -1;
    }
    .nav-items {
      opacity: 1;
      transition-delay: .3s;
      pointer-events: all;
      .links li {
        transform: none;
        &:nth-child(1) { transition-delay: 100ms; }
        &:nth-child(2) { transition-delay: 150ms; }
        &:nth-child(3) { transition-delay: 200ms; }
        &:nth-child(4) { transition-delay: 250ms; }
        &:nth-child(5) { transition-delay: 300ms; }
        &:nth-child(6) { transition-delay: 350ms; }
        &:nth-child(7) { transition-delay: 400ms; }
        &:nth-child(8) { transition-delay: 450ms; }
      }
    }
  }
  .lang {
    font-style: italic;
    opacity: 0.3;
    display: inline-block;
    margin: -1em .4em 1em;
    &:first-child {
      opacity: 1;
    }
  }
  .icon-cross {
    position: fixed;
    top: 2rem;
    right: 2rem;
  }
  .nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .icon-menu {
    position: relative;
    &:before {
      z-index: 991;
    }
  }
  .nav-items {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 100;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s;
    transition-delay: 0s;
    li {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 2em;
      line-height: 1.3em;
      letter-spacing: 0.05em;
      transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateX(100%);
      &:nth-child(8) { transition-delay: 100ms; }
      &:nth-child(7) { transition-delay: 150ms; }
      &:nth-child(6) { transition-delay: 200ms; }
      &:nth-child(5) { transition-delay: 250ms; }
      &:nth-child(4) { transition-delay: 300ms; }
      &:nth-child(3) { transition-delay: 350ms; }
      &:nth-child(2) { transition-delay: 400ms; }
      &:nth-child(1) { transition-delay: 450ms; }
    }
  }
  .translations {
    margin-top: 2rem;
  }
  .menu-fill {
    top: 0;
    right: -80px;
    width: 0;
    height: 100vh;
    background: white;
    box-sizing: border-box;
    transition: .5s .2s;
    position: fixed;
    border: 40px $primary-light solid;
    z-index: 99;
  }
}

</style>
